body {
	font-family: "Times New Roman", Times, serif;
}
.section {
	display: flex;
	flex-direction: row;
}
.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 25px;
}
.lowerBound,
.histogramDiv,
.newGradeDiv {
	padding: 15px;
	background-color: #eaeff1;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #e1e9ec;
}
.newGradeDiv {
	margin-top: 20px;
	height: 285px;
}
.lowerBound {
	margin-right: 20px;
}
.lowerTitle,
.histogramTitle {
	color: #a62824;
	font-size: 1rem;
	margin: 0;
}
.form {
	margin-top: 30px;
	padding-left: 20px;
}
.form input {
	border: 1px solid gray;
	border-radius: 2px;
}
.newGradeDiv label {
	display: inline-block;
	width: auto;
}
.newGradeDiv input {
	width: 150px;
	margin: 5px;
	padding: 5px;
	text-align: left;
}
label {
	display: inline-block;
	width: 120px;
}
input {
	width: 60px;
	margin: 10px;
	padding: 10px;
	text-align: right;
}
.scoreDivForm {
	padding-left: 20px;
	margin-top: 40px;
}
.scoreDiv {
	width: 100%;
}
.score {
	display: inline-block;
	width: 100px;
	margin: 8px;
}
